<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Hagalla_Service.Properties.Settings.ServiceCenterConnectionString"
            connectionString="Data Source=DESKTOP-PO4QOF1;Initial Catalog=ServiceCenter;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>